
/*Switcher Widget Button*/
a.wpcs_link {
    margin-left: 10px;
    padding: 2% 9%;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #eaeaea;
    color: #707070;
    font-weight: 400;
    font-size: 10pt;
}

a.wpcs_link:hover {
    background-color: #f5f5f5;
    color: #333;
}
